*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;    
    font-family: 'Roboto', sans-serif;
}
section{
    display: grid;
    place-content: center;
    min-height: 100vh;
    height: auto;
    padding: 5rem;
}
section.calculator{
    background-color: #040924;
}

.block{
    margin-top:2rem;
}
.block h2{
    margin-bottom: 1rem;
}
.alert-error.open{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.alert-error{
    width: 100vw;
    padding: .8rem;
    justify-content: center;
    text-align: center;
    background-color: #F03E3E;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: transform .5s;
}
main, .card{
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    max-width: 48.8rem;
}
h1, h2,button[type = submit]{
    font-weight: 700;
}
input, button{
    padding: 1.6rem;
    border-radius: 4px;
    border: 1px solid #02799d;
    background: #DCE2E9;
}
button[type = submit]{
    background-color: #02799D;
    color: white;
    text-align: center;
    width: 30rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    display: flex;
}
li{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}


/* Modal */
.modal-wrapper.open{
    opacity: 1;
    visibility: visible;
}
.modal-wrapper{
    position: absolute;
    inset:0;
    background-color: rgba(0, 0, 0, 0.70);
    display: grid;
    place-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal{
    position: relative;
}
.modal-wrapper button{
    border: none;
    background: none;
    position: absolute;
    top: .6rem;
    right: .6rem;
    cursor: pointer;
    transition: transform .3s;
}
.modal button:hover{
    transform: scale(1.1);
}



footer{
    background-color: #040924;
    color: #DCE2E9;
    width: 100vw;
    padding: .8rem;
    justify-content: center;
    text-align: center;
}
