/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
/*============Colors========*/
:root {
  --base-color: #f0f0f0;
  --base-color-second: #858585;
  --text-color: #ffffff;
  --logo-color: #ffffff;
  --text-color-second: #2b2b2b;
  --divider-color: #a1ff95;
  --box-color: rgba(10, 126, 0, 0.597);
  --buttom-color: rgb(10, 126, 0);
}

/*============Font=============*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

/*============Layout=============*/

header {
  margin-top: 0;
  margin-right: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  background-image: url(imagens/img01.jpg);
  background-size: 94rem;
  background-position-y: 40rem;
  position: fixed;
  top: 0px;
}
a{
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 3px -2px 4px black;
}
ul{
  text-decoration: none;
  display: inline-flex;
  color: var(--text-color);
  padding-left: 30rem;
  
}
li{
  text-align: right;
  color: var(--text-color);
  padding-right: 20px;
}
.logo{
  text-shadow: 3px 7px 7px black;
  font-size: 3rem;
  color: var(--logo-color);
  margin-left: 1.5rem;
}
main{
  letter-spacing: 0.1em;
  line-height: 2rem;
}
#info1{
  margin-top: 6.4rem;

  background-color: var(--base-color);
  left:0;
  width: 100%;
  height: ; 
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  border-top: 3px solid var(--divider-color);
  display: inline-flex;
}
#info1 p{
  padding-right: 2rem;
}
#info1 img{
  height: auto;
  width: 394px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}  
#info2{
  color: var(--text-color);
  background-color: var(--base-color-second);
  left:0;
  width: 100v%;
  height:40vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  border-top: 3px solid var(--divider-color);
  display: inline-flex;
}
#contend2{
  padding-right: 2rem;
}
#info2 img{
  height: auto;
  width: 394px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
info p{
  font-family: Arial, Helvetica, sans-serif;
}
#classi{
  line-height: 3rem;
  background-color: var(--base-color);
  left:0;
  width: 100%;
  height:520px;
  padding-top: 3rem;
  padding-bottom: 33rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  border-top: 3px solid var(--divider-color);
  
}
.container {
  background-color: var(--base-color-second);
  color: var(--text-color);
  position:relative;
  left:0;
}

form {
  padding: 3em;
  height: 100%;
  border-top: 3px solid var(--divider-color);
  text-align: center;
  transition: all 0.2s ease-in-out;
}
label{
  display:none;
}
.container p{
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0,0,0,);
}
input {
  background-color:  var(--box-color);
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-radius: 5000px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  /* text-shadow: 2px 2px 4px rgba(255, 255, 255); */
  box-shadow: 0px 0px 10px rgba(0,0,0);
}
input::placeholder{
  color: var(--text-color);
}
label{
  margin-right: 5px;
}
#button{
  background-color: var(--buttom-color);
}