/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

===========Colors========*/
:root {
  --base-color: #f0f0f0;
  --base-color-second: #858585;
  --text-color: #ffffff;
  --logo-color: #ffffff;
  --text-color-second: #2b2b2b;
  --divider-color: #a1ff95;
  --box-color: rgba(10, 126, 0, 0.597);
  --buttom-color: rgb(10, 126, 0);
}

/*============Font=============*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
/* =================Efeitos================== */
@keyframes zoom {
  0%{ /* No inicio*/
    transform: scale(1.3);/* Zoom de 30%*/
  } 
  100%{/* No fim*/
    transform: scale(1);/* Zoom de 100%(normal)*/
  }
}

/*============Layout=============*/

/* ===================== Section Header ========================= */
header{
  width: 100%;
  height: 100vh;
  text-decoration: none;
  overflow: hidden;
  position:relative;
  line-height: 4rem;
}
.img{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}
.img img{
  width: 100%;
  height: 100%;
  overflow: hidden; 
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 3s;
}
.title{
  position: absolute;
  left: 15%;
  top: 30%;
  /* color: var(--text-color); */
  color: aliceblue;
  text-shadow: 3px -2px 4px black;
}
header h1{
  text-transform: uppercase;
  font-size: 4rem;
}
header p{
  font-size: 2.5rem;
}
header .button{
  color: white;
  text-transform: uppercase;
  letter-spacing: .15rem;
  background: rgb(29,161,24);
  background: linear-gradient(250deg, rgba(29,161,24,1) 0%, rgba(34,184,136,1) 100%);
  padding: 1rem 3rem ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
.button:hover{
  zoom: 105% ;
 }
 /* ======================================Aside========================================== */
/* a{
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 3px -2px 4px black;
} */

/* ul{
  display: inline-flex;
  color: var(--text-color);
  padding-left: 30rem; 
}
li{
  text-align: right;
  color: var(--text-color);
  padding-right: 20px;
} */
/* ============================================== Main ================================================== */
.container{
  padding: 2rem;
  width: 100%;
  height: 100vh; 
  font-size: 1.5rem;
}
.container img{
  width: 50vh;
  height: auto;
  margin-top: 2rem;
  margin-left: 75vh;
}
.backcolor{
  background: rgb(161,24,151);
background: linear-gradient(0deg, rgba(34,184,136,1) 0%, rgba(29,161,24,1) 100%);
color: white;
}
.backcolor2{
  background-color: rgb(240, 240, 240);
  /* background: rgb(34,184,136);
  background: linear-gradient(0deg, rgba(29,161,24,1) 0%,  rgba(34,184,136,1) 100%); */
}
#classificacao{
}

/* ==================================Formulario============================================== */

form {
  text-align: center;
  padding-top: 10vh;
}
label{
  display:none;
}
#calculadora p{
  color: white;
  font-weight: 700;
  font-size: 3rem; 
  margin-top: 0;
  margin-bottom: 5rem;
  text-shadow: 5px 3px 2px rgba(0,0,0,.4);
}
input {
  background-color:  white;
  width:45vh;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-radius: 5000px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 0px 10px rgba(72, 72, 72, .3);
}
input::placeholder{
  font-size: .7rem;
  color:rgb(0, 0, 0);
  text-transform: uppercase;
}
input:hover{
  zoom: 120% ;
 }
label{
  margin-right: 5px;
}
#button{
  background-color: var(--buttom-color);
  color: white;
}
/* =============================Botão topo=============================== */
#link-topo{
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: rgb(29,161,24);
  background: linear-gradient(250deg, #1da118 0%, #22b888 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: .3rem;
  box-shadow:  0 0.1rem 0.6rem #00000009;
  box-shadow: 2px 0px 10px rgba(72, 72, 72, .3);
}
#toUp{
  width: 1.5rem;
  height: 1.5rem;
  x 
}
/* =========================Responsividade============================ */
@media  (max-width:904px) {
  .container{
    height: auto;
  }
  .container img{
    width: 50vh;
    height: auto;
    margin-top: 2rem;
    margin-left: 1vh;
  }
  
}